*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(194, 223, 241, 0.521);
}


span{
    font-weight: 700;
}

a{
    text-decoration: none;
    color: black;
}
    
a:visited{
    text-decoration: none;
    color: black;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: minmax(150px, 1fr) 5fr / 
    minmax(215px, 1fr) 5fr;  /* header-height main-height / dashboard-width main-width */
}


/* DASHBOARD */
.dashboard{
    background-color: rgb(29, 161, 242);
    color: aliceblue;
    grid-area: 1 / 1 / 3 / 2;

    display: flex;
    flex-direction: column;
    row-gap: 50px;

    padding-top: 20px;

}

.dashboard-pics{
    filter: brightness(0) invert(1);
    width: 35px;
}

.dashboard-logo{
    filter: brightness(0) invert(1);
    width: 45px;
}

.dashboard-body{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    row-gap: 10px;
}

.dashboard-body-content{
    display: flex;
    align-items: center;
    column-gap: 15px;

    cursor: pointer;
    transition: 0.15s;
}

.dashboard-body-content:hover{
    filter: opacity(0.7);
}

.dashboard-top{
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-left: 18px;

    cursor: pointer;
    transition: 0.15s;
}

.dashboard-top:hover{
    filter: opacity(0.6);
}

.dashboard-top-text{
    font-size: 20px;
    letter-spacing: 0.75px;
}

.dashboard-body-text{
    font-size: 16px;
    letter-spacing: 0.75px;
}




/* HEADER */
.header{
    justify-content: space-between;
    background-color: aliceblue;
    grid-area: 1/ 2 / 2 / 3;

    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 40px 10px 0;

    display: grid;
    grid-template: 1fr 1.5fr / 4fr 2.25fr; 

}



/* HEADER FIRST QUADRANT*/
.header-firstquadrant{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.search-logo{
    width: 20px;
    cursor: pointer;
    transition: 0.15s;
}

.search-logo:hover{
    filter: opacity(0.5);
}

.search-bar{
    flex: 0 1 80%;
    background-color: rgba(130, 182, 212, 0.3);
    color: rgb(0, 89, 145);
    border: none;
    height: 25px;
    border-radius: 10px;

    padding: 10px;
    box-sizing: border-box;
}

.search-bar:focus{
    outline: none;
}

/* HEADER SECOND QUADRANT*/
.header-secondquadrant{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 30px;

    padding-right: 10px;
}

.notification-logo{
    width: 23px;
    cursor: pointer;
    transition: 0.15s;
}

.notification-logo:hover{
    filter: opacity(0.5);
}

.profile-settings{
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    transition: 0.15s;
}

.profile-settings:hover{
    filter: opacity(0.7);
}

.settings-picture{
    width: 30px;
    border-radius: 15px;
}

.settings-name{
    font-size: 16px;
    letter-spacing: 0.25px;
}

/* HEADER THIRD QUADRANT*/
.header-thirdquadrant{
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.profile-picture{
    width: 50px;
    border-radius: 25px;
    margin-left: 50px;
}

.user-handle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    row-gap: 2px;
}

.user-greeting{
    font-size: 12px;
    letter-spacing: 0.5px;
}

.user-name{
    font-size: 20px;
    letter-spacing: 0.5px;
}


/* HEADER FOURTH QUADRANT*/
.header-fourthquadrant{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 15px;
}

.header-button{
    width: 80px;
    padding: 10px 20px;
    border: solid 1px rgb(29, 161, 242);

    background-color:rgb(29, 161, 242);
    color: aliceblue;
    font-weight: 700;
    border-radius: 20px;
    font-size: 12px;
    letter-spacing: 0.35px;
    cursor: pointer;
    transition: 0.15s;
}

.header-button:hover{
    filter: opacity(0.7);
}



/* MAIN */
.main{
    grid-area: 2/ 2 / 3 / 3;

    display: grid;
    grid-template: 1fr / 3fr minmax(150px, 250px);

    margin: 40px 50px 50px 20px;

    column-gap: 30px;
}

/* PROJECT BOX */
.project-box{
    grid-area: 1 / 1 / 3 / 2;

    display: grid;
    grid-template-rows: 20px;
    row-gap: 10px;
}

.box-header{
    font-size: 17px;
    letter-spacing: 0.5px;
}

.project-title{
    cursor: pointer;
    transition: 0.15s;
}

.project-title:hover{
    filter: opacity(0.5);
}

.project-box-content{
    grid-area: 2 / 1 / 3 / 2;

    display: grid;
    grid-template-columns: minmax(275px, 1fr) repeat(auto-fit, minmax(275px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;

    gap: 30px;
}

.project-item{
    background-color: aliceblue;
    border: solid 1px aliceblue;
    box-shadow: 1px 1px 20px rgba(33, 33, 33, 0.2);
    border-left: solid 5px rgba(213, 165, 32, 0.75);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;

    padding: 20px 30px 20px 20px;
}

.project-details{
    font-size: 13px;
    font-weight: 500;
    color: gray;
}

/* UPDATE BOX */
.update-section{
    grid-area: 1 / 2 / 2 / 3;

    display: grid;
    grid-template-rows: minmax(225px, 1fr) minmax(225px, 1fr);
    row-gap: 20px;

}

.update-section-item{
    display: grid;
    grid-template-rows: 20px minmax(250px, 1fr); /*announcement and trending box height*/
    row-gap: 10px;
}

.announcement-box {
    background-color: aliceblue;
    border: solid 1px aliceblue;
    box-shadow: 1px 1px 20px rgba(33, 33, 33, 0.2);
    border-radius: 10px;

    padding: 20px 30px;
}

.announcement-item{
    padding: 10px 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 3px;
}

.announcement-title{
    font-size: 13px;
    cursor: pointer;
    transition: 0.15s;
}

.announcement-title:hover{
    filter: opacity(0.5);
}

.announcement-details{
    font-size: 11px;
    font-weight: 500;
    color: gray;
}

.trending-box {
    background-color: aliceblue;
    border: solid 1px aliceblue;
    box-shadow: 1px 1px 20px rgba(33, 33, 33, 0.2);
    border-radius: 10px;

    padding: 20px 30px;

    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
}

.trending-item{
    display: flex;
    align-items: center;
    column-gap: 15px;
    cursor: pointer;
    transition: 0.15s;
}

.trending-item:hover{
    filter: opacity(0.7);
}

.trending-picture{
    width: 50px;
    border-radius: 25px;
}

.trending-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    row-gap: 2px;
}

.trending-handle{
    font-size: 12px;
    font-weight: 300;
}

.trending-name{
    font-size: 12px;
    font-weight: 500;
}
